*:not(i) {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color: #2453EF;
    overflow-x: hidden;
    margin: 0;
    color: black;
}

nav {
    width: 100vw; 
    height: 55px; 
    background-color: #EF24B9;
    position: sticky;
    position: -webkit-sticky;
    padding-top: 25px;
    top: 0; 
    left: 0;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 20;
    margin-right: 20;
}

button {
    background-color: #141414;
    color: white;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: small;
    font-weight: 600;
    transition: 0.2s;
}

button:hover{
    scale: 1.02;
}

#contact-button {
    background-color: transparent;
    color: white;
    border-radius: 8px;
    height: 40px;
    padding: 5 40;
    font-size: 0.9em;
    margin-top: -5px;
    margin-right: 35;
    font-weight: 700;
}

.icon-button {
    color: black;
    background-color: Transparent;
    outline: none;
    margin-right: 15px;
}

.title {
    margin-top: 200px;
    font-size: 10vw;
    background-color: none;
    text-align: center;
}

.page-content {
    background: url("assets/videos/clarity.mov");
    background-repeat: none;
    background-position: center;
    max-width: 1300px;
    padding: 50 20;
    z-index: 1;
    overflow: hidden;
}

#social-buttons-container {
    display: block;
    align-items: center;
    width: 100vw;
    margin-top: 30;
    max-width: 400px;
}