*:not(i) {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.page-content {
    margin-left: 8vw;
    max-width: 1300px;
    padding-right: 8vw;
    padding: 10 20 10 20;
}

video,
h1 {
  font-size: 20vw;
  font-weight: 700;
  line-height: 100vh;
  text-transform: uppercase;
  text-align: center;
  background: white;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

video {
  object-fit: cover;
}